* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: #2c3e50;
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
img {
    height: auto;
    width: 100%  
}
.profile-card{
    padding: 10px;
}
.card-header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-shrink: 0;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #bdc3c7;
}
.current-time-display{
    font-size: 15px;
    color: #bdc3c7;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: white;
    background-color: transparent;
    
}

  a:focus, button:focus {
    outline: 3px solid #007bff; 
    outline-offset: 2px;
}
.social-links-nav, .hobbies-section, .dislikes-section {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 20px;
    padding: 20px;
}
 .hobbies-section, .dislikes-section > ul {
    list-style-type: disc;

 }

@media (max-width: 600px) {
    img {
        height: auto;
        width: 100%;
    }
    .card-header-content {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1024px)  {
    img {
        height: auto;
        width: 100%;
    }
}

